/*LESS*/
/*LESS RESPONSIVE*/
* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 100%;
}
/* FONT */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/ico/icomoon.eot?87g036');
  src: url('../fonts/icofonts/icomoon.eot?87g036#iefix') format('embedded-opentype'), url('../fonts/ico/icomoon.ttf?87g036') format('truetype'), url('../fonts/ico/icomoon.woff?87g036') format('woff'), url('../fonts/ico/icomoon.svg?87g036#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-view_list:before {
  content: "\e8ef";
}
.icon-view_module:before {
  content: "\e8f0";
}
/* HEADER*/
header {
  display: flex;
  justify-content: space-between;
  background-color: #171717;
  height: 60px;
  padding: 20px;
}
#house {
  width: 40px;
}
#main-title {
  margin-left: 1rem;
}
header a {
  max-height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header a h1 {
  font-size: 18px;
  font-weight: normal;
}
#folder {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}
#parent-folder {
  height: 40px;
  width: 40px;
  display: block;
  margin-right: 10px;
  background-image: url(../img/icon/folder_back.png);
  background-size: cover;
}
#ariane {
  display: flex;
  align-items: center;
  background-color: #242424;
  border-radius: 2em;
  font-size: 0.96em;
  padding: 0.5em 1em;
  min-width: 20em;
  min-height: 2em;
  box-sizing: border-box;
}
#change-display {
  width: 1em;
  height: 1em;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 3em;
}
#change-display:hover {
  color: #199f86;
}
/*BODY*/
body {
  background-color: #171717;
  width: 100%;
  display: block;
  font-family: 'Audiowide', cursive;
}
#navigation {
  background-color: #242424;
  width: 250px;
  display: block;
  height: 79vh;
}
#navigation a {
  display: block;
  padding: 10px;
}
#navigation a:hover {
  background-color: #171717;
}
#content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
#file-list {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 2em;
}
#file-list.table {
  flex-direction: column;
  flex-wrap: nowrap;
}
#file-list.table .item {
  width: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 1em;
}
#file-list.table .item .folder,
#file-list.table .item .file,
#file-list.table .item img {
  max-width: 20%;
  max-height: 100%;
}
#file-list.table .item .info {
  display: flex;
  width: 80%;
}
#file-list.table .item .info .name,
#file-list.table .item .info .mdate,
#file-list.table .item .info .file-type {
  width: 40%;
  margin-left: 3%;
  text-align: center;
}
#file-list.table .item .info .file-type {
  width: 20%;
}
.item {
  display: flex;
  justify-content: space-around;
  width: 325px;
  height: 120px;
  margin: 10px;
  padding: 0.5em;
  box-sizing: border-box;
  background-color: #565656;
  border-radius: 5px;
  align-items: center;
  font-family: arial, sans-serif;
}
.item img {
  max-width: 40%;
  max-height: 100%;
}
.folder {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-image: url(../img/icon/folder.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.file {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-image: url(../img/icon/picture.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.info {
  font-size: 0.8em;
}
.name,
.mdate {
  margin-bottom: 0.4em;
}
section {
  display: flex;
  align-content: space-around;
}
section a {
  font-size: 1.2em;
  text-decoration-line: none;
}
/*FOOTER*/
footer {
  width: auto;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  #ariane {
    min-width: 15em;
  }
  #navigation {
    background-color: #242424;
    width: 200px;
    height: 80vh;
  }
  .item {
    display: flex;
    justify-content: space-around;
    width: 250px;
    height: 100px;
    margin: 8px;
  }
  .info {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 576px) {
  /*HEADER*/
  header {
    height: 40px;
    padding: 10px;
  }
  #house {
    width: 30px;
  }
  #main-title {
    display: none;
  }
  #folder {
    display: flex;
    width: 80%;
    height: 35px;
  }
  #parent-folder {
    height: 30px;
    width: 30px;
    display: block;
    margin-right: 1em;
    background-image: url(../img/icon/folder_back.png);
  }
  #ariane {
    font-size: 12px;
    display: flex;
    align-items: center;
    min-width: 10em;
  }
  #change-display {
    display: none;
  }
  /*BODY*/
  #navigation {
    display: none;
  }
  #file-list {
    justify-content: center;
  }
  .item {
    width: 200px;
    height: 70px;
    margin: 5px;
  }
  .folder {
    height: 70px;
    width: 70px;
    margin: 5px;
  }
  .file {
    height: 70px;
    width: 70px;
    margin: 5px;
  }
  .name {
    font-size: 2em;
  }
  .mdate,
  .file-type {
    font-size: 1.5em;
  }
  section a {
    font-size: 12px;
    text-decoration-line: none;
  }
  footer {
    font-size: 12px;
    margin-top: 2em;
  }
}
